<div class="container-fluid">

    <header>

        <div class="row">

            <div class="col-12 col-lg-12 mt-4 mb-4 d-flex justify-content-center align-items-center">

                <app-header></app-header>
    
            </div>

        </div>

    </header>

    <main>

        <div class="row">

            <div class="col-12 col-lg-12 d-flex justify-content-center">

                <app-agregar-tarea></app-agregar-tarea>

            </div>

        </div>

        <div class="row">

            <div class="col-12 col-lg-12 d-flex justify-content-center">

                <app-listar-tareas></app-listar-tareas>

            </div>

        </div>

    </main>

    

</div>